/* BEFORE AFTER MOCKUP */


.comparison{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(350px,1fr));

gap:40px;

margin-top:50px;

}



.browser-card{

background:#111;

padding:25px;

border-radius:30px;

border:1px solid rgba(255,255,255,.12);

}



.featured{

border-color:var(--gold);

box-shadow:
0 30px 80px rgba(199,164,90,.15);

}



.label{

display:inline-block;

padding:8px 20px;

border-radius:50px;

font-size:12px;

letter-spacing:2px;

margin-bottom:20px;

}



.before{

background:#333;

}



.after{

background:var(--gold);

color:#111;

}



.browser-window{

background:#080808;

border-radius:20px;

overflow:hidden;

border:1px solid #333;

}



.browser-bar{

height:45px;

background:#1c1c1c;

display:flex;

gap:8px;

padding:15px;

}



.browser-bar span{

height:10px;

width:10px;

background:#777;

border-radius:50%;

}



.old-site{

padding:50px 30px;

height:400px;

background:#f1f1f1;

color:#222;

}



.old-site h3{

font-size:35px;

}



.old-menu{

margin-top:40px;

background:white;

padding:25px;

}



.old-site button{

margin-top:30px;

padding:15px 30px;

}



.new-site{

height:400px;

padding:45px 30px;

text-align:center;

background:

linear-gradient(
135deg,
#242424,
#080808
);

}



.new-site h3{

font-size:55px;

color:white;

line-height:1;

}



.small{

font-size:12px;

letter-spacing:3px;

color:var(--gold);

}



.buttons{

display:flex;

justify-content:center;

gap:15px;

margin-top:30px;

}



.buttons div{

background:var(--gold);

color:#111;

padding:12px 20px;

border-radius:30px;

font-size:14px;

}



.food-cards{

display:flex;

gap:10px;

margin-top:40px;

}



.food-cards div{

background:rgba(255,255,255,.1);

padding:15px;

border-radius:15px;

font-size:12px;

}



.analysis{

margin-top:30px;

}



.analysis li{

margin:12px 0;

color:#ccc;

}

